# trip-service.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: trip-service-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: trip-service
  template:
    metadata:
      labels:
        app: trip-service
    spec:
      containers:
        - name: trip-service
          image: sonumondal1998/trip-service:latest
          ports:
            - containerPort: 7300
---
apiVersion: v1
kind: Service
metadata:
  name: trip-service
spec:
  selector:
    app: trip-service
  ports:
    - protocol: TCP
      port: 7300
      targetPort: 7300
      nodePort: 30084
  type: NodePort
