# vehicle-service.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: vehicle-service-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vehicle-service
  template:
    metadata:
      labels:
        app: vehicle-service
    spec:
      containers:
        - name: vehicle-service
          image: sonumondal1998/vehicle-service:latest
          ports:
            - containerPort: 7400
---
apiVersion: v1
kind: Service
metadata:
  name: vehicle-service
spec:
  selector:
    app: vehicle-service
  ports:
    - protocol: TCP
      port: 7400
      targetPort: 7400
      nodePort: 30085
  type: NodePort
